{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
	{% for word in site.brand %}
		<span class="{{'brand-' ~ strtolower(word) }}">{{word}}</span>
	{% endfor %}
	<p>
		<strong>Smart solutions for retail</strong>
	</p>
</a>
